baycomp>=1.0.2
bottleneck>=1.3.4
# Encoding detection
chardet>=3.0.2
httpx>=0.21.0
# Multiprocessing abstraction
joblib>=1.2.0
keyring>=25.0.0 
keyrings.alt>=5.0.0   # for alternative keyring implementations
networkx>=2.05
numpy>=1.21.0
openpyxl>=3.1.3
openTSNE>=0.6.2,!=0.7.0  # 0.7.0 segfaults
openTSNE>=0.7.1; platform_system == "Darwin" and platform_machine == "arm64" # For macOS arm64 (Apple Silicon)
packaging>=20.0
pandas>=1.4.0,!=1.5.0,!=2.0.0
pip>=19.3
python-louvain>=0.13
pyyaml>=6.0
requests>=2.23.0
scikit-learn>=1.5.1
scipy>=1.9
serverfiles		# for Data Sets synchronization
xgboost>=1.7.4,<2.1
# Reading Excel files
xlrd>=1.2.0
# Writing Excel Files
xlsxwriter>=3.0.1
